.container {
  margin: 20px;
}

.wrapper {
  display: flex;
  flex-direction: row;
  gap: 120px;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 2rem;
}

#chrome {
  padding: 10px;
  border: none;
  border-radius: 3px;
  box-shadow: 1px 1px 1px 1px rgb(207, 204, 204);
}
